/* src/Login.css */
.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .password-group {
    position: relative;
  }
  
  .password-input-container {
    display: flex;
    align-items: center; /* Align items vertically */
    position: relative; /* Set positioning context */
  }
  
  .password-input-container input {
    flex: 1; /* Allow input to take available space */
    padding: 10px 10px 10px 10px; /* Add padding to accommodate button */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Rounded corners */
  }
  
  .toggle-password {
    background: transparent; /* No background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Position button absolutely */
    right: 10px; /* Align it to the right */
    top: 50%; /* Center it vertically */
    transform: translateY(-50%); /* Adjust for perfect centering */
    font-size: 1.2em; /* Adjust size of the icon */
    padding: 0; /* No padding */
    margin: 0; /* No margin */
  }

  